body{
	background-color: #C3D2C3;
	color: #041B15;
	font-family: 'Crimson Pro', serif;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 1.2px;
	font-weight: bolder;/* or bold as you want*/
	text-align: center;
}

a, h1, h2{
	text-align: center;
	font-family: 'Murecho', sans-serif
}

a {
	color: #A2A392 ;
	text-decoration: none; /* when you decide to erase the highlight of the text*/
}	

h1{
	color: #6E75A8 ;
	font-size:  60px;
	font-weight: 900;
}

h2 {
	text-justify:  justify ;/* to center the text*/
	color: #C1292E;
	font-size:  30px;
	font-weight: 36px ;
	/*height:  24px;*/
	font-weight: 500 ;
}

p{
	text-align: center;
}

.blue-hover:hover{
	color: rgb(20,110,170);
	transition: color 0.4s ease;
}

.purple-hover:hover{
	color: #A564B7;
	transition: color 0.4s ease;
}

img{
	width: 400px;
	box-shadow: 4px 4px 10px black;
}

.block-white{
	background: whitesmoke ;
	border: 3px solid  black;
	margin: 15px 50px;
	box-shadow: 4px 4px 10px grey;
	border-radius: 12px;
	padding: 10px;
}

.icon-font-awesom {
	font-size: 32px;
}

.fab {
	margin: 3px 8px;
}

#banner{
	background: whitesmoke;
	margin-right: 200px;
	margin-left: 200px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cv-blue{
	border: 4px solid rgb(195,210,195);
	color: white;
	padding:  15px 20px;
	background-color:#6E75A8 ;
	margin-right: 280px;
	margin-left: 280px; 
	border-radius: 8px;
}
.cv-blue:hover{
	color: white;
}

.photo-circle{
	border-radius: 30px;
}

.container{
	width: 1100px;
	margin:  40px auto ;
}
@media (max-width: 760px) {
	.container{
		width:700px  ;
	}

}
@media (max-width: 500px) {
	.container{
		width:400px  ;
	}
}


